doctype html
html
  head
    title=title
    // Copyright 1998-2015 by Northwoods Software Corporation.
    script(src='/js/jquery-1.11.1.min.js')
    script(src='/js/go.js')

    link(href='/stylesheets/goSamples.css', rel='stylesheet', type='text/css')
    // you don't need to use this
    script(src='/js/familyTree.js')
    // this is only for the GoJS Samples framework
  body
    a#toggleButton(title='button') Start
    #sample
      #myDiagram(style='background-color: white; width: 100%; height: 800px')
    
  script.
    viewTree.init(!{userName});
    $('#toggleButton').click(function(){
        $(this).toggleClass("down");

        if($(this).hasClass( "down" )){
          $(this).text("Stop");
          clearTimeout(window._polling);
        }
        else{
          $(this).text("Start");
          viewTree.getTreeData(2000);
        }
    });
